:root {
    --color-caja :rgb (166, 242, 250)
}
.caja-info , .caja-tecs, #caja-contacto , .caja-chica, .caja-proj {
    margin: auto;
    margin-bottom: 40px;
    width: 90%;
    height: 200px;
    border-radius: 4px 4px;
    border: .7px solid rgb(106, 127, 124);
    background-color: rgba(32, 35, 33, 0.08);
    box-shadow: 8px 9px 6px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 8px 9px 6px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 8px 9px 6px 0px rgba(0,0,0,0.36);
    transition: .4s;
}
.caja-info {
    width: 85%;
    height: 320px;
}
.caja-tecs {
    width: 90%;
    height: 520px;
    margin-top: 40px;
    text-align: center;
}
.caja-proj {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom:20px;
    width: 170px;
    height: 200px;
    position: relative;
}
.caja-proj:hover::before {
    opacity: 1;
}
.caja-proj::before {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}
.caja-proj::before {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(166, 242, 250, 0.15),
        transparent 40%
    );
    z-index: 3;
}

.caja-proj > .contenido {
    background-color: var(--color-caja);
    border-radius: inherit;
    height: calc(100% - 5px);
    margin: 3px;
    position: absolute;
    width: calc(100% - 5px);
    z-index: 2;
}
.caja-chica {
    height: 130px;
    justify-content: center;
    display: flex;
    transition: .4s;
}
.menu-btn ,.ubicacion-usuario {
    position: relative;
    border: none;
    left: 10%;
    top: 0%;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}
.ubicacion-usuario {
    transition: .5s;
    background-color:#cacaca;
    transform: scale(1.1);
}

.menu-lat-salida  {
    position: fixed;
    top: 20%;
    right: -20%;
    width: 70px;
    height: 300px;
    animation-name: salir;
    animation-duration: .5s;
}
.menu-lat-entrada  {
    position: fixed;
    top: 20%;
    right: 2%;
    width: 70px;
    height: 300px;
    animation-name: entrar;
    animation-duration: .5s;
}
#contenedor-proyectos {
    margin: auto;
    margin-top: 40px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
#caja-contacto {
    width: 90%;
    height: 73vh;
    margin: auto;
    text-align: center;
}

@keyframes salir {
    0% {
      right: 2%;
    }
    100% {
      right: -20%;
    }
}
@keyframes entrar {
    0% {
      right: -20%;
    }
    100% {
      right: 2%;
    }
}