
@media screen and (min-width: 900px) { 
    body {
        text-align: center;
    }
    main,header,footer {
        width: 50%;
        margin: auto;
        text-align: center;
    }
    button {
        border-radius: 10px;
    }
    input[type = submit] {
        top: 985%;
    }
    header {
        left: 50%;
        transform: translate(-50%);
        margin: auto;
        text-align: center;
        border-bottom: 2px solid white;
    }
    h1 {
        position: absolute;
        font-size: 60px;
        letter-spacing: 6px;
    }
    section {
        height: 50vh;
    }
    .caja-info {
        width: 85%;
        height: 220px;
    }
    .p-contacto {
        font-size: 30px;
    }
    .caja-tecs {
        height: 400px;
    }
    .caja-proj {
        width: 400px;
        height: 270px;
    }
    .menu-lat-entrada  {
        animation-duration: .7s;
    }
    #última-caja-info {
        height: 270px;
    }
    #conocimientos-subtitulo {
        margin-top: 200px;
    }
    #conocimientos {
        height: 500px;
    }
    #proyectos {
        height: 800px;
    }
    #contacto-intermedio {
        height: 100px;
        margin-bottom: 120px;
        margin-top: 0px;
    }
    #contacto {
        height: 70vh;
        margin-bottom:140px;
    }
    @keyframes entrar {
        0% {
          right: -20%;
        }
        15% {
            right: 2%;
        }
        50% {
          right: 1%;
        }
        100% {
            right: 2%;
        }
    }
}