
@media screen and (min-width: 900px) { 
    body {
        text-align: center;
    }
    main,header,footer {
        width: 50%;
        margin: auto;
        text-align: center;
    }
    aside {
        position: fixed;
        right: 95%;
        display: block;
        top: 30%;
    }
    button {
        height: 60px;
        width: 60px;
        border-radius: 2px;
    }
    input[type = submit] {
        top: 985%;
    }
    header {
        left: 50%;
        transform: translate(-50%);
        margin: auto;
        text-align: center;
        border-bottom: 2px solid white;
    }
    h1 {
        top: 45%;
        position: absolute;
        font-size: 140px;
    }
    section {
        height: 45vh;
    }
    .caja-info {
        width: 94%;
        height: 190px;
    }
    .p-contacto {
        font-size: 30px;
    }
    .caja-tecs {
        height: 400px;
    }
    .caja-proj {
        width: 400px;
        height: 270px;
    }
    .menu-btn {
        background-color:   rgb(52, 55, 53,0.08) ;
    }
    .float-effect {
        animation: float 6s infinite;
    }
    .float-effect-2 {
        animation: float 6s infinite reverse;
    }
    #menu {
        display: none;
    }
    #CV {
        top: 122%; 
    }
    #sobre-mi {
        height: 300px;
    }
    #última-caja-info {
        height: 220px;
    }
    #proyectos-sub {
        height: 300px;
        margin-top: 150px;
        margin-bottom: 0px;
    }
    #proyectos {
        height: 500px;
    }
    #tecnologías {
        height: 200px;
        margin-bottom: 100px;
    }
    #conocimientos-subtitulo {
        margin-top: 100px;
    }
    #conocimientos {
        height: 400px;
    }
    #contacto-intermedio {
        height: 200px;
        margin-bottom: 120px;
        margin-top: 0px;
    }
    #contacto {
        height: 600px;
        margin-bottom:140px;
    }
    #caja-contacto {
        height: 670px;
    }
    #contacto-dos {
        height: 500px;
    }
    @keyframes float { 
        0% { transform: translate(2.5px, 5px) rotate(0deg); }
        5% { transform: translate(1.25px, 2.5px) rotate(0deg); }
        10% { transform: translate(-2.5px, -10px) rotate(-0.5deg); }
        15% { transform: translate(-3.75px, -7.5px) rotate(-0.5deg); }
        20% { transform: translate(-7.5px, 0px) rotate(0.5deg); }
        25% { transform: translate(-5px, -5px) rotate(0.25deg); }
        30% { transform: translate(7.5px, 15px) rotate(0deg); }
        35% { transform: translate(5.625px, 11.25px) rotate(0deg); }
        40% { transform: translate(2.5px, -10px) rotate(0.5deg); }
        45% { transform: translate(1.25px, -5px) rotate(0.5deg); }
        50% { transform: translate(-2.5px, 15px) rotate(-0.5deg); }
        55% { transform: translate(-3.75px, 11.25px) rotate(-0.5deg); }
        60% { transform: translate(-7.5px, 5px) rotate(0deg); }
        65% { transform: translate(-5px, 2.5px) rotate(0deg); }
        70% { transform: translate(7.5px, 10px) rotate(-0.5deg); }
        75% { transform: translate(5.625px, 7.5px) rotate(-0.5deg); }
        80% { transform: translate(-2.5px, -10px) rotate(0.5deg); }
        85% { transform: translate(-1.25px, -5px) rotate(0.5deg); }
        90% { transform: translate(2.5px, 15px) rotate(0deg); }
        95% { transform: translate(3.75px, 11.25px) rotate(0deg); }
        100% { transform: translate(2.5px, -10px) rotate(-0.5deg); }
    }
    
}