h1:hover {
    color: #404749;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.6);
}
h2:hover {
    color: #ffffff;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.6);
}
img:hover {
    transform: scale(1.3);
}
button:hover , .menu-btn:hover{
    background-color: #cacaca;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #347995, 0 0 40px #347995, 0 0 50px #347995, 0 0 60px #347995;
    animation: neon-glow 1s ease-in-out infinite alternate;
}
input[type= submit]:hover, input[type = submit]:focus {
    background-color:  #cacaca;
}
input:focus ,textarea:focus {
    background-color: #cacaca;
}
a:hover {
    font-size: 21px;
    color: #7EFFF7;
}
.caja-info:hover,h1:hover,button:hover,h2:hover{
    transform: scale(1.1);
}
.caja-proj:hover {
    transform: scale(1.1);
}
.caja-chica:hover {
    transform: scale(1.05);
}
@keyframes neon-glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #347995, 0 0 40px #347995, 0 0 50px #347995, 0 0 60px #347995;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #347995, 0 0 40px #347995, 0 0 50px #347995, 0 0 60px #347995, 0 0 70px #347995;
    }
}
