@import url('https://fonts.googleapis.com/css?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=League+Spartan');

@import url('https://fonts.cdnfonts.com/css/josefin-slab');

* {
    box-shadow: 8px 9px 6px 0px rgba(45, 44, 44, 0.36);
    -webkit-box-shadow: 8px 9px 6px 0px rgba(41, 39, 39, 0.36);
    -moz-box-shadow: 8px 9px 6px 0px rgba(34, 34, 34, 0.36);
}
h1,h2,h3,h4,h5,p ,a{
    box-shadow: none;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
section , header , main, footer, aside, div, span , body,form,a,html{
    box-shadow: none;
}
body{
    background-color: #404749;
    background: linear-gradient(to right, #404749, #343839);
}
main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin-top: 200px;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
}
aside {
    left: 78%;
    z-index: 999999;
}

section {
    height: 60vh;
    justify-content: center;
}
img {
    margin: 20px;
    margin-top: 40px;
    width: 100px;
    box-shadow: none;
    object-fit: cover;
    transition: .5s;
}
h1 {
    margin: auto;
    position: relative;
    top: 30%;
    margin-left: 10%;
    font-size: 70px;
    font-family: 'Josefin Slab', serif;
    color: #ffffff;
    text-shadow: none;
    transition: .4s;
}
h2 ,h3,h4 {
    margin: auto;
    color:#ffffff;
    font-size: 85px;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
}
h2 {
    color: #404749;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.6);
    position: relative;
    top: 50%;
    transition: .4s;
}
h3 {
    font-size: 40px;
    margin: 10px;
}
h4 {
    font-size: 30px;
    height: 50px;
    margin-top: 20px;
}
h5 {
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #f3fa94;
}
p , a {
    margin: auto;
    width: 90%;
    text-align: initial; 
    font-size: 20px;
    color: white;
    line-height: 20px;
    font-family: 'League Spartan', sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #f3fa94;
    transition: .3s;
}
button {
    position: absolute;
    left: 83.5%;
    top: 20%;
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color:   #cacaca ;
    cursor: pointer;
    transition: .4s;
}
form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 90%;
    height: 66%;
}
input ,textarea{
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 5px 5px;
    outline: none;
    font-size: 22px;
    font-family: 'League Spartan', sans-serif;
    color: white;
    background-color:  #395d68;
    transition: .8s;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
input[type = "submit"] {
    margin: auto;
    margin-top: 20px;
    width: 120px;
    transition: .5s;
}
textarea {
    height: 120px;
}
span {
    text-align: center;
}

.h2-chico {
    font-size: 60px;
}

.material-symbols-outlined {
    font-size: 40px;
    color: white;
}
.p-contacto {
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top:10px ;
    text-align: center;
}
.contacto-logo {
    width: 90px;
    margin-top: 20px;
}
.img-icon {
    width: 70px;
    margin: auto;
    margin-top: 40px;
}
.caja-proj img {
    width: 70px;
    height: 70px;
    margin:10px;
    cursor:pointer;
    pointer-events: none;
}
.to-shake {
    animation: shake 1s infinite;
}

.proj-link , .proj-link-2 {
    position: absolute;
    z-index: 9999999999999999;
    height: 70px ;
    width: 70px;
    left: 30%;
}
.proj-link-2 {
    left: 60%;
}
#CV {
    position:absolute;
    left: 50%;
    top: 190%; 
    transform: translate(-50%, -50%);
    font-size: 22px;
    border: 1px solid #f3fa94;
    padding: 7px;
    padding-left: 23px;
    width: 170px;
    box-shadow: 8px 9px 6px 0px rgba(45, 44, 44, 0.36);
    -webkit-box-shadow: 8px 9px 6px 0px rgba(41, 39, 39, 0.36);
    -moz-box-shadow: 8px 9px 6px 0px rgba(34, 34, 34, 0.36);
}
#menu {
    display: block;
    position: fixed;
    top: 10%;
    z-index: 99999999;
    border: 1px solid #f3fa94;
    border-radius: 2px;
    background-color:   rgb(52, 55, 53) ;
}
#conocimientos-subtitulo {
    margin-top: 550px;
}
#contacto-intermedio {
    margin-top: 700px;
    height: 150px;
    margin-bottom: 150px;
}
#proyectos-sub {
    height: 200px;
    margin-top: 450px;
    margin-bottom: 100px;
}
#tecnologías {
    height: 250px;
}
#contacto-intermedio {
    height: 250px;
    margin: 0px;
    margin-bottom: 50px;
}
#contacto {
    height: 80vh;
}
#proyectos {
    height: 90vh;
}
#contacto-dos {
    margin-top: 60px;
}
@keyframes shake {
    0% { transform: translate(0.25px, 0.25px) rotate(0deg); }
    10% { transform: translate(-0.25px, -0.5px) rotate(-0.5deg); }
    20% { transform: translate(-0.75px, 0px) rotate(0.5deg); }
    30% { transform: translate(0.75px, 0.5px) rotate(0deg); }
    40% { transform: translate(0.25px, -0.25px) rotate(0.5deg); }
    50% { transform: translate(-0.25px, 0.5px) rotate(-0.5deg); }
    60% { transform: translate(-0.75px, 0.25px) rotate(0deg); }
    70% { transform: translate(0.75px, 0.25px) rotate(-0.5deg); }
    80% { transform: translate(-0.25px, -0.25px) rotate(0.5deg); }
    90% { transform: translate(0.25px, 0.5px) rotate(0deg); }
    100% { transform: translate(0.25px, -0.5px) rotate(-0.5deg); }
}